JWT_SECRET= MTg1mT1tl173cCicLAXVwUfdpKm8MfUq
MONGO_PASSWORD= patikadev.dev
MONGO_PATH= @cluster0.kjwv2.mongodb.net/Cluster0?retryWrites=true&w=majority
MONGO_USER= kadirpatika 
PORT= 5000
SESSION_SECRET=b28d57f6d8ef48bba1be649c0f661848